.container
  width: 1140px
  margin: auto
.navbar
  background-color: $dark
  &-wrapper
    display: flex
    justify-content: space-between
    align-items: center
    height: 70px
  &-logo
    margin-top: 3px
  &-menu
    display: flex
    justify-content: space-between
    flex-basis: 540px
    padding-left: 0
    &__item
      list-style: none
    &__link
      text-decoration: none
      color: $light
      font-family: Lato
      font-weight: 900
      font-style: normal
      font-size: 14px
      line-height: 20px
    &__button
      background-color: #656B70
      color: $light
      padding: 8px 63px 14px 63px
      max-height: 39px
      font-family: Lato
      font-weight: 400
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 20px
      border-radius: 10px
      margin-top: 1px
